.ReviewContainer{
    background: #F2F2F2;
    border-radius: 20px;
    width: 520px;
    height: 240px;
    margin-right:40px;
    padding:20px;
    margin: 0 3.75rem;
    display: inline-flex;
    flex-direction: column;
}

.Reviewer{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */
    color: #000000;
}
.RatingContainer{
    display:flex;
}
.Rating{
background-image: url("../../images/star.svg");
width:20px;
height:20px;
}
.Info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.Review{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */ 
    color: #5C5C5C;
    margin-top:26px;
    
}

.MainReview{
    overflow-x: scroll;
    margin-bottom: -10px;
}
.Test{
    display: inline-flex;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    position: absolute;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.ScrollControl.Left{
    background-image:url("../../images/down.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.ScrollControl.Right{
    background-image:url("../../images/Vector3.svg");
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.ScrollControl{
    padding: 10px 10px;
    background-color:transparent;
    border:none;
}
.ScrollControl:hover{
    cursor:pointer
}

.MainReview::-webkit-scrollbar {
    border-radius: 5px;
    height:4px;
}
.MainReview::-webkit-scrollbar-track{
    background: #C4C4C4;
    border-radius: 5px;
}
.MainReview::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 5px;
}
.MainReview::-webkit-scrollbar-button:end:increment,.MainReview::-webkit-scrollbar-button:start:decrement {
    width:20%;
    display: block;
  }
