.ReviewContainer {
  background: #f2f2f2;
  border-radius: 20px;
  width: 520px;
  height: 100%;
  margin-right: 40px;
  padding: 25px;
  display: inline-flex;
  flex-direction: column;
}

.Reviewer {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  word-break: break-word;
  word-wrap: break-word;
}
.RatingContainer {
  display: flex;
}

.Info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.Review {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #5c5c5c;
  margin-top: 26px;
}
.MainReview {
  overflow-x: scroll;
  margin-left: 60px;
  margin-bottom: -12px;
}
.MainContainer {
  display: inline-flex;
  margin-bottom: 80px;
}
.HR {
  margin-top: 0;
  margin-bottom: 80px;
}
.Header {
  margin-bottom: 80px;
  margin-top: 80px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
svg.Star:hover {
  cursor: initial;
}
svg.Star:hover path {
  fill: var(--primary);
}

@media screen and (max-width: 768px) {
  .MainContainer {
    margin-bottom: 60px;
  }
  .ReviewContainer {
    width: 355px;
    margin-right: 20px;
  }
  .HR {
    margin-bottom: 60px;
  }
  .Header {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 640px) {
  .HR {
    margin-top: 60px;
  }
}
