
.Card{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.25rem;
    height: 40.1875rem;
    display:flex;
    padding-left: 1.25rem;
    padding-right:1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 2.5rem;
}
.CardContainer{
    height: 40.1875rem;
    border-radius: 1.25rem;
    margin: 0 3.75rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../images/customer.jpg");
    margin-bottom: 60px;
}

.TextContainer{
    max-width:50%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ButtonContainer{
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;  
}
button:hover{
    background: var(--primary);
    cursor:pointer;
    transition: all .2s ease-out;
}
button:hover .ButtonText{
    color:var(--white);
}
.Heading{
    font-family: var(--robotoCondensed);
    font-style: normal;
    font-weight: var(--bold);
    font-size: 3.125rem;
    line-height: 3.6875rem;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: var(--white);
}

.Text{
    font-family: var(--roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color:var(--white)
}
.DescriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ButtonText{
    font-family: var(--robotoCondensed);
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color:var(--primary)
}
.CTAButton{
    border-radius: 0.625rem;
    padding: 1rem 1.875rem;
    border-color: transparent;
}


.DescriptionContainer p.Text:not(:last-child){
    padding-bottom:2rem;
}

@media screen and (max-width:768px){
    .Card{
        padding-left:1rem;
        padding-right: 1rem;
        padding-top:2.25rem;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .CardContainer{
        margin: 0 0.625rem;
        background-image: url("../../images/customerMobile.jpg");
        margin-bottom: 20px;
    }
    .Text{
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
    .Heading{
        font-size: 2.125rem;
        line-height: 2.5rem;
    }
    .CTAButton{
        margin-bottom: 0;
        margin-right: 0;
    }
    .ButtonContainer{
        padding:0;
        flex-wrap: nowrap;
        align-items: stretch;
    }
    .DescriptionContainer{
        width:100% !important;
    }
    .DescriptionContainer p.Text:not(:last-child){
        padding-bottom:1.25rem;
    }


}

@media screen and (min-width:576px) and (max-width: 768px){
    .ButtonContainer{
        align-items: flex-start;
    }
}

@media screen and (max-width: 1024px){
    .TextContainer{
        max-width:100%;
    }
    .ButtonContainer{
        max-width:100%;
        align-content: flex-start;
        justify-content: normal;
    }
    .Card{
        flex-wrap: wrap;
    align-content: space-between
    }
    .DescriptionContainer{
        display:block;
        padding-top:10.25rem;
        width: 75%;
    }
    .CTAButton{
        margin-bottom: 0;
    }  
}

