.Container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.Image,
.Image::before,
.Image::after {
  border-radius: 20px;
}
.Image {
  width: 48%;
  height: 40vw;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.Info {
  width: 48%;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}
.Heading {
  font-family: var(--robotoCondensed);
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}
.Text {
  font-family: var(--roboto);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 60px;
}
.PrimaryText {
  color: var(--primary);
}

button.Btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--primary);
  border: none;
  border-radius: 10px;
  padding: 11px 126px;
  width: 400px;
}

.BtnText {
  font-family: var(--robotoCondensed);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--white);
}
button.Btn:hover {
  background-color: var(--primary);
}
button:hover .BtnText {
  color: white;
}

@media screen and (max-width: 1024px) {
  button.Btn {
    width: 300px;
  }
  .Heading {
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .Text {
    font-size: 18px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .Container {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .Image {
    height: 75vw;
    width: 100%;
    margin-bottom: 40px;
  }
  .Info {
    width: 100%;
  }
  .BtnText {
    font-size: 24px;
    line-height: 28px;
  }
  button.Btn {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
  }
}
