.MainContainer {
  display: flex;
  flex-wrap: wrap;
}
.FAQContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.QAContainer {
  display: flex;
  margin-bottom: 60px;
  max-width: 50%;
  width: 50%;
}
.Question {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.01em;
  color: #000000;
}
.Answer {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-top: 30px;
}
.QAContainer:nth-child(odd) {
  padding-right: 30px;
}
.QAContainer:nth-child(even) {
  padding-left: 30px;
}

.QAContainer:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}
button.ShowMore {
  display: flex;
  justify-content: center;
  background: var(--white);
  padding: 11px 118px;
  margin: auto;
  margin-top: 100px;
  border: 1px solid var(--primary);
  border-radius: 10px;
}
button.ShowMore:hover {
  background-color: var(--primary);
}
button:hover .BtnText {
  color: white;
}

.BtnText {
  font-family: var(--robotoCondensed);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.01em;
  color: var(--primary);
  text-transform: uppercase;
}
.Heading {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.Header {
  margin-bottom: -40px;
  margin-top: 0px;
}
.SectionName {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #000000;
}
.Underline {
  width: 221px;
  height: 2px;
  background: #000000;
  margin-bottom: 60px;
  margin-top: 6px;
}
.HR {
  margin-bottom: 80px;
  margin-top: 80px;
}

@media screen and (max-width: 640px) {
  .ExtraSpace {
    margin-bottom: 60px;
    font-size: 0.01px;
    color: white;
  }
  .Underline {
    margin-bottom: 30px;
  }
  .QAContainer {
    max-width: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .QAContainer:nth-last-child(2) {
    margin-bottom: 40px;
  }
  .QAContainer:nth-child(even) {
    padding: 0;
  }
  .QAContainer:nth-child(odd) {
    padding: 0;
  }
  button.ShowMore {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    padding: 11px;
  }
  .Question {
    font-size: 24px;
    line-height: 28px;
  }
  .Answer {
    margin-top: 20px;
  }
  .HR {
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .Heading {
    margin-top: 0;
  }
  .Header {
    margin-bottom: 40px;
  }
}
